.input{
    width: 100%;
}

.texto-negrito{
    font-weight: 700;
    font-size: 18px;
}

.texto-apagado{
    color: #A0AEC0;
    font-weight: 500;
}

.texto-descricao{
    font-weight: 400;
    font-size: 15px;
    color: #4A5568;
}