.button{
    width: Fixed (176px);
    height: 55px;
    background: #8C19D2;
    color: white;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
}

.button:hover{
    opacity: 0.9;
}