@import url(../../app.component.scss);
.home-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    

    .image{
        width: 500px;
    }
}
:host ::ng-deep .mat-success{
    color: #8C19D2;
    ;
}